body {
  font-family: "roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  line-height: 1.5;
}

.logo {
  font-size: 18px;
}

.link-logo,
.menu-link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.link-logo:hover,
.link-logo:focus {
  color: #2196f3;
}

/* 4 homework 
task 2 */
.navigation {
  width: 700px;
  border: 1px solid #2196f3;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}

.menu-list-item {
  list-style: none;
}

.menu-list-item:not(:first-child) {
  margin-left: 12px;
}

.menu-link {
  padding: 20px 12px;
}
